header {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

nav a img {
  margin-right: 10px;
  vertical-align: middle;
  width: 500px;
  height: 500px;
}